<ion-view>
    <ion-nav-title class="text-center" ng-controller="titleCtrl">
        <ng-include src="'cm/app/cook/title.html'" ng-if="dealReturn(0)"></ng-include>
        <ng-include src="'cm/app/business/title.html'" ng-if="dealReturn(1)"></ng-include>
        <ng-include src="'cm/app/share/title.html'" ng-if="dealReturn(2)"></ng-include>
        <ng-include src="'cm/app/user/title.html'" ng-if="dealReturn(3)"></ng-include>
    </ion-nav-title>
    <ion-content ng-controller="tabSliderCtrl" padding="false" overflow-scroll="true">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="false" does-continue="false"
                       slide-interval="3000" show-pager="false" pager-click="pageClick(index)"
                       active-slide="model.activeIndex" delegate-handle="delegateHandlerOne" on-drag-left="onDragLeft()"
                       on-drag-right="onDragRight()" style="height: 500px;">
            <ion-slide scrollbar-y="false" class="slidePage">
                    <div ng-include="'cm/app/cook/main.html'"></div>
            </ion-slide>
            <ion-slide scrollbar-y="false" class="slidePage">
                <div ng-include="'cm/app/business/main.html'"></div>
            </ion-slide>
            <ion-slide scrollbar-y="false" class="slidePage">
                <div ng-include="'cm/app/share/main.html'"></div>
            </ion-slide>
            <ion-slide scrollbar-y="false" class="slidePage">
                <div ng-include="'cm/app/user/main.html'"></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>


<ion-tabs class="tabs-icon-top tabs-color-active-positive hide-on-keyboard-open" ng-controller="tabCtrl">

    <ion-tab title="食神秘籍" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ng-click="selectTabWithIndex(0)">
    </ion-tab>

    <ion-tab title="惠吃派" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw" ng-click="selectTabWithIndex(1)">
    </ion-tab>

    <ion-tab title="美食圈" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" ng-click="selectTabWithIndex(2)">
    </ion-tab>

    <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ng-click="selectTabWithIndex(3)">
    </ion-tab>

</ion-tabs>
