.c-img {
    width: 100%;
    height: 160px;
}

.c-img > img {
    width: 100%;
    height: 100%;
}
/*此为ionic内部属性，调节切换图片小圆点start*/
.slider-pager .slider-pager-page {
    color: #fff;
    font-size: 10px;
}
/*此为ionic内部属性，调节切换图片小圆点end*/

#c-psf img{
    height: 70px;
}
#c-psf p{
    color: #7B7C7C;
    font-weight:bold;
    font-size: 15px;
    font-family: "黑体";
}