<!--
@Created by 丁岳雄 on 2016/4/25.
@说明：添加食谱   添加步骤、添加小贴士、发布按钮部分
-->
<style>
  .c-add-steps .list .item-content{
    padding:0;
  }
  .c-add-steps .list .item{
    border: none;
    margin-top: 1px;
    background: none;
  }
  .c-add-steps .list .item .item-content{
    background: none;
  }
  .c-add-steps,.c-add-tips,.c-add-submit{
    margin-top: 10px;
  }
  .c-add-steps .c-add-step{
    border-bottom: 1px solid #cccccc;
  }
  .c-add-steps .c-add-step h4{
    font-size: 18px;
    color: rgba(239, 71, 58, 0.7);
  }
  .c-add-steps .c-add-step h4 button{
    border-radius: 0;
    padding: 0 7px;
    float: right;
  }
  .c-add-steps .c-add-step p{
    padding: 20px;
  }
  .c-add-steps .c-add-step img{
    width: 80px;
    height: 50px;
    margin-left: 20px;
  }
  .c-add-tips{
    min-height: 120px;
  }
  .c-add-toGroup{
    border: none;
  }
  .c-add-toGroup .checkbox input:checked:before{
    background: #ef473a;
    border-color:#ef473a;
  }
  .c-add-submit button.button-unable{
    background: #999999;
    color: #fff;
  }
</style>
<div class="padding c-add-steps">
  <h3 class="padding-top c-add-divider {{step_divider_on}}">做法<button class="button button-small button-clear button-assertive icon ion-navicon-round" ng-click="showData.showStepDelete = !showData.showStepDelete;showData.showStepReorder = !showData.showStepReorder"></button></h3>
  <ion-list show-delete="showData.showStepDelete" show-reorder="showData.showStepReorder" can-swipe="listCanSwipe">
    <ion-item ng-repeat="item in recipeData.steps">
      <div class="padding-top padding-bottom c-add-step">
        <h4>
          <span ng-bind="$index+1"></span>
          <button class="button button-small button-clear button-assertive icon ion-edit" ng-click="addStep(item)"></button>
        </h4>
        <p class="tempText" ng-click="addStep(item)">
          <span class="{{step_text_hidden[$index]}}">请写出详细做法...</span>
          <span ng-bind="item.content">></span>
        </p>
        <img src="cm/app/cook/img/addImage.png">
      </div>
      <ion-delete-button class="ion-minus-circled"
                         ng-click="deleteItem(recipeData.steps,$index)">
      </ion-delete-button>,
      <ion-reorder-button class="ion-navicon"
                          on-reorder="reorderStepItem(item, $fromIndex, $toIndex)">
      </ion-reorder-button>
    </ion-item>
  </ion-list>
  <p class="padding-top padding-bottom c-add-divider"><button class="button button-small button-clear button-assertive icon ion-plus" ng-click="addOneStep()"></button></p>
</div>

<div class="padding c-add-tips">
  <h3 class="padding-top c-add-divider {{tips_divider_on}}">注意事项<button class="button button-small button-clear button-assertive icon ion-edit" ng-click="addTips()"></button></h3>
  <p class="tempText" ng-click="addTips()">
    <span class="{{stips_text_hidden}}">可补充说明一下注意事项...</span>
    <span ng-bind="recipeData.tips"></span>
  </p>
</div>

<div class="item item-checkbox stable-bg c-add-toGroup">
  <label class="checkbox">
    <input type="checkbox">
  </label>
  同步到美食圈
</div>

<div class="padding c-add-submit">
  <button class="button button-block {{submitButton}}">发布</button>
</div>
