<ion-view>
    <ion-nav-title class="text-center">
        <div class="row" style="font-size:25px;margin-top:-11px;">
            <div class="col col-20"><i class="icon ion-ios-plus-outline"></i></div>
            <div class="col">
                <label class="item-input-wrapper" style="background-color: #ffffff;margin-top: 7px;">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" style="height: 30px;">
                </label>
            </div>
            <div class="col col-20"><i class="icon ion-ios-star-outline"></i></div>
        </div>
    </ion-nav-title>
    <ion-content class="padding has-header">
        <p>myself</p>
        <div style="height: 1500px;"></div>
    </ion-content>
</ion-view>