<ion-view>
    <ion-nav-title class="text-center">
      <div class="bar bar-header">
        <button class="button icon ion-plus-round"></button>
        <h1 class="title">我</h1>
        <button class="button icon ion-ios-gear"></button>
      </div>
    </ion-nav-title>
    <ion-content class="has-header stable-bg">
      <div ng-include="'./templates/fMyself/top.html'"></div>
      <div ng-include="'./templates/fMyself/middle.html'"></div>
      <div ng-include="'./templates/fMyself/bottom.html'" style="margin-top: 10px;"></div>
    </ion-content>
</ion-view>
